body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(243, 77%, 15%);
}
#calculator{
    font-family: monospace;
    background-color: hsl(217, 83%, 36%);
    
    border-radius:50px;
    max-width:550px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align:justify;
    border: none;
    background-color: hsl(222, 55%, 30%);
    color: rgb(254, 253, 253);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    background-color: hsl(213, 80%, 48%);
    color: rgb(246, 248, 249);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(211, 62%, 39%);
}
button:active{
    background-color: hsl(219, 84%, 33%);
    
}
.operator-btn{
    background-color: hsl(207, 80%, 66%);
    color:white;
}
.operator-btn:hover{
    background-color: hsl(210, 55%, 45%);
}
.operator-btn:active{
    background-color: hsl(203, 63%, 33%);
}



h1{  
     color: white;
     font-size:70px;
     text-align: justify;
     font-size: 5em;
     letter-spacing: 4px;
     font-family:monospace ;
     border-right: 3px solid;
     width:45%;
     height:110px;
     overflow: hidden;
     animation: 
     typing 3s steps(15),
     cursor .20s step-end infinite alternate;
}

@keyframes cursor{
      70%
      {border-color: transparent;}

}

@keyframes typing {
     from {
         width: 0%;
     }
     to {
         width: 45%; 
     }
 }
